html, body {
    height: 100%;
    width: 100%;
}

.lgv-container {
    height: 100%;
}

label {
    font-weight: normal;
}


.lgv-container #cursorGlyph {
    position: absolute;
    z-index: 1000;
    cursor: none;
}

.glyphicon-check, .glyphicon-unchecked, .glyphicon-download, .glyphicon-upload, .glyphicon-chevron-down, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-refresh, .glyphicon-folder-close, .glyphicon-folder-open {
    cursor: pointer;
}

@media (max-width: 767px) {
    .btn-glyphicon, .glyphicon-plus-sign, .glyphicon-minus-sign, .glyphicon-info-sign, .glyphicon-check, .glyphicon-unchecked, .glyphicon-envelope, .glyphicon-book {
        font-size: 18px !important;
    }
    html, body {
        font-size: 16px;
    }
}

@media (min-height:200px){
    #poibody{
        max-height:120px;
    }
}

@media (min-height:250px){
    #poibody{
        max-height:200px;
    }
}

@media (min-height:300px){
    #poibody{
        max-height:220px;
    }
}

@media (min-height:480px){
    #poibody{
        max-height:400px;
    }
}

@media (min-height: 768px) {
    #poibody{
        max-height:700px;
    }
}

#poibody{
    overflow:auto;
}

/*bootstrap überschreiben*/
.list-group {
    margin-bottom: 0px !important;
}

.form-group:last-child {
    margin-bottom: 0px;
}
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

/******* Ajax Loader *******/
#loader
{
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2000;
}

#loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -5px;
}

.cluster{
    font-size:25px;
    border-radius:30px!important;
    float:left;
    margin:10px;
}
