<!DOCTYPE html>
<div id="popup">
    <div id="popup-content" class="ol-popup">
        <div id="QRplaceHolderLabel">
            Klicken Sie auf die Karte
        </div>
        <img id="image"></img>
    </div>
</div>
<!--

    <tbody>
<tr>
    <th colspan="2">
        <strong>Untersuchungsergebnisse: </strong>
    </th>
</tr>
<tr>
    <td>
        <strong>Entnahmedatum: </strong>
    </td>
    <td>
        <%=gfiContent.allgemContent["Entnahmedatum"] %>
    </td>
</tr>
<tr>
    <td>
        <strong>Versorgungsgebiet: </strong>
    </td>
    <td class="trinkwasserParams">
        <%=gfiContent.allgemContent.Versorgungsgebiet %>
    </td>
</tr>
<tr>
    <td>
        <strong>Bezirk: </strong>
    </td>
    <td>
        <%=gfiContent.allgemContent.Bezirk %>
    </td>
</tr>
<tr>
    <td>
        <strong>Stadtteil: </strong>
    </td>
    <td>
        <%=gfiContent.allgemContent.Stadtteil %>
    </td>
</tr>
<% if(_.isEmpty(gfiContent.mikrobioContent) === false){ %>

    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Mikrobiologische Parameter: </strong>
        </td>
    </tr>
<%}
_.each(gfiContent.mikrobioContent, function(value, key) {
        if (_.isString(key) === false || _.isString(value)=== false) return;
    %>
<tr colspan="2">
    <td>
        <strong><%= key + ''%></strong>
    </td>
    <td>
            <%= value %>
    </td>
</tr>
<% }); %>
<% if(_.isEmpty(gfiContent.chemContent) === false){ %>
<tr>
    <td colspan="2"></td>
</tr>
<tr>
    <td colspan="2">
        <strong>Chemische Parameter: </strong>
    </td>
</tr>
<%}
_.each(gfiContent.chemContent, function(value, key) {
        if (_.isString(key) === false || _.isString(value)=== false) return;
    %>
<tr colspan="2">
    <td>
        <strong><%= key + ''%></strong>
    </td>
    <td>
            <%= value %>
    </td>
</tr>
<% }); %>
</tbody>



<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Tabs</h2>
<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
  <button class="tablinks" id="listPostitsButton">Alle Postits</button>
  <button class="tablinks" id="newPostitButton">Neuen Postit hinzufügen</button>
</div>

<div id="listPostits" class="tabcontent">
  <p>Hier werden alle gespeicherten Postits angezeigt.</p>
  <button type="button" id="deleteButton" >Löschen</button>
  <button type="button" id="editButton">Editieren</button>
</div>

<div id="newPostit" class="tabcontent">
  <div class="form-group">
          <label id="QRplaceHolderLabel" for="QRplaceHolder" class="col-md-5 col-sm-5 control-label">Klicken Sie auf die Karte</label>
          <canvas id="QRplaceHolder">Canvas</canvas>
  </div>
</div>

</body>
</html>
-->